.cart-template {
    display: flex;
    /* gap: 2rem; */
    padding: 30px;
}

/* Cart Part One */
.cart-title {
    background-color: white;
    opacity: 0.9;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.cart-part-one {
    display: flex;
    gap: 1rem;
    margin: 0px;
    padding: 0px 50px 0px 100px;
    align-items: center;
    /* background-color: white; */
    flex-direction: column;
}

.product {
    display: flex;
    background-color: white;
    border-radius: 10px;
    gap: 1rem;
    align-items: center;
}

.product > .section-one >.image {
    /* background-color: white; */
    border-radius: 15px;
    padding: 50px;

}

.product > .section-one >.image>img {
    max-width: 200px;
    width: 250px;
    min-width: 200px;
    border-radius: 20px;
}

.product > .section-one >.details-card {
    /* background-color: white; */
    max-width: 500px;
    max-height: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
}

.product > .section-one >.details-card>.edit-cart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product >.section-one>.details-card>.edit-cart>.product-quantity {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.product > .section-two {
    padding: 30px;
}

/* Cart Part Two */


.cart-part-two {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 400px;
}

.cart-part-two>.subtotal,
.cart-part-two>.other-products {
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: left;
    border-radius: 10px;
    width: 100%;
}

.cart-part-two>.other-products {
    align-items: center;
}

.cart-part-two>.other-products>img {
    max-width: 150px;
    width: 150px;
    min-width: 100px;
    border-radius: 20px;
}

.empty-cart-title {
    padding: 100px;
    background-color: white;
    border-radius: 10px;
}


@media screen and (max-width:420px) {
    .cart-template {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .cart-part-one {
        padding: 0;
    }
    .cart-part-two>.other-products {
        display: none;
    }
    .cart-part-two>.subtotal {
        margin: 0;
    }
    .product {
        flex-direction: column;
        gap: 0;
    }
    .product > .section-one >.details-card {
        padding: 30px 50px 30px 50px;
    }
    .product > .section-two {
    padding: 20px;
    }
}