.product-details {
    display: flex;
    gap: 1rem;
    margin: 100px;
    align-items: center;
}

.image {
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    
}

.image>img {
    max-width: 400px;
    width: 350px;
    min-width: 200px;
    border-radius: 20px;
}

.details-card {
    background-color: white;
    max-width: 500px;
    max-height: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
}